@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

@layer base {
  body {
    @apply antialiased selection:bg-blue-500 selection:text-white;
  }
}